@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Architects+Daughter&family=Comforter&family=Grechen+Fuemen&family=IBM+Plex+Mono&family=Kalam:wght@300&family=Meow+Script&family=Nothing+You+Could+Do&family=Shadows+Into+Light&family=Space+Mono&display=swap');

* {
    box-sizing: border-box;
}

:root {
    --primary-background: #dce4ee;
    --header-background: #9dc2f3;
    --button-background: #c6ccd1;
    --list-background: #d1dff1;
    --accent-light: #b5b6c2;
    --accent-dark: #72737c; 

    --padding: 20px;
}

body {
    background: var(--primary-background);
    font-family: 'Nothing You Could Do', cursive;
    letter-spacing: 2px;

    display: grid;
    grid-template-rows: auto 1fr auto;
}

header{
    background: var(--header-background);
    padding-left: 10px;
    font-family: 'Nothing You Could Do', cursive;
    letter-spacing: 2px;
} 

ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;  
    padding-top: 10px;
    padding-left: 10px;
}

li {
    width: 200px;
    height: 250px;
    display: grid;
    grid-template-rows: autos 1fr auto;
    place-items: center;
    background: var(--list-background);
    border: 3px solid var(--accent-dark);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: all 250ms ease-in;
}

li:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

h2 {
    font-size: 1rem;
}

img {
    width: 100px;
    height: 150px;
}

button {
    width: 33px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    background: var(--button-background);
}

button:hover {
    width: 100px;
}

button:active {
    background: var(--accent-light);
}